<header id="top-header">
    <div id="logo">
        <a href="/" title="Return to home page">
            <img src="/images/site/icon.png" alt="CSE Motors Logo" />
        </a>
    </div>
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (locals.loggedin) { %>
            <a href="/account">My Profile</a>
            <a href="/account/logout" title="Click to log out">Logout</a>
        <% } else {%>
        <a href="/account/login" title="Click to log in">Login</a>
        <% }  %>
    </div>
    
        <div id="hamburgerButton">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
</header>

<script src="/js/menu.js"></script>