<h1>Welcome to CSE Motors!</h1>
<%- messages() %>

<div class="hero">
    <picture>
        <source srcset="images/vehicles/delorean-tn.jpg" media="(max-width: 500px)">
        <img src="images/vehicles/delorean.jpg" alt="Delorean Car">
    </picture>

    <div class="hero-text">
        <p>DMC Delorean</p>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice</p>
        <img src="images/site/own_today.png" alt="Buy Car">
    </div>
</div>

<div class="grid-container">
    <div class="reviews">
        <h2>DMC Delorian Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of the day." (4.5/5)</li>
            <li>"80's livin and love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades-grid">
            <div class="upgrade-item">
                <div class="image-container">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <a href="images/upgrades/flux-cap.png">Flux Capacitor</a>
            </div>
            <div class="upgrade-item">
                <div class="image-container">
                    <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <a href="images/upgrades/flame.jpg">Flame Decals</a>
            </div>
            <div class="upgrade-item">
                <div class="image-container">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <a href="images/upgrades/bumper_sticker.jpg">Bumper Stickers</a>
            </div>
            <div class="upgrade-item">
                <div class="image-container">
                    <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <a href="images/upgrades/hub-cap.jpg">Hub Caps</a>
            </div> 
        </div>
    </div>
</div>