@media (min-width: 800px) {
  .hero-text {
    top: 6vh;
    left: 8vw;
  }

  .grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .reviews {
    grid-column: 2 / 3;
  }

  .upgrades {
    grid-row: 1 / 2;
  }

  .wrapper {
    padding: 1rem;
    border: 5px solid rgb(11, 60, 205);
    border-radius: 2%;
    margin: 1rem 4rem 1rem 4rem;
  }

  body {
    background-image: url(../images/site/small_check.jpg);
  }

  .detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  nav ul {
    display: flex;
  }

  ul.menuLinks,
  ul.menuLinks.open {
    flex-direction: row;
      max-height: 80px;
      opacity: 1;
  }

  #hamburgerButton {
    display: none;
  }
}
